<a
  [routerLink]="['/admin', 'products', 'create']"
  mat-raised-button
  [color]="'primary'"
  >Crear Nuevo producto</a
>
<table
  *ngIf="products"
  mat-table
  [dataSource]="products"
  class="mat-elevation-z8 products-table"
>
  <ng-container [matColumnDef]="displayedColumns[0]">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container [matColumnDef]="displayedColumns[1]">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container [matColumnDef]="displayedColumns[2]">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container [matColumnDef]="displayedColumns[3]">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button [routerLink]="['edit', element.id]">Editar</a>
      <button
        mat-raised-button
        [color]="'warn'"
        (click)="deleteProduct(element.id)"
      >
        Eliminar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
